.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/
Capfile
config/deploy.rb
config/deploy/*
public/system/*
public/assets/*
.vagrant
coverage
config/application.yml
config/database.yml
.ruby-gemset
bin/
db/sampleimages
.env
*.rdb
