<% if @activity %>
<article class="article">
  <h4>Github Latest</h4>
  <ul class="fa-ul">
    <% @activity.each do |act| %>
      <%= event_to_list_item(act) %>
    <% end %>
  </ul>
</article>
<% end %>
