<ul class="article">
  <% @activity.each do |act| %>
    <li>
      <i class="fa fa-user-secret"></i>
      <%= act.to_h %>
      <%= act[:payload][:action] %> <%= act[:type] %>
    </li>
  <% end %>
</ul>
