<!-- Start Footer -->
<%= render :partial => 'welcome/tweet' %>
<div id="copyright">
  <em class="footer_quote pull-right">Copyright &copy; <%= Settings.contact.full_name %> 2011</em>
</div>
<!-- End Footer -->
