<div class="info">
  <p>Welcome to petermellett.co.uk. This site is designed as both a portfolio and a place for me to keep odd code snippets and troubleshooting steps for future reference. Feel free to contact me using the contact link at the footer of each page.</p><br />
  <div class="info_avatar">
    <%= image_tag 'avatar.png', :size => "120x267", :class => "avatar"%>
  </div>
</div>