<div class="info well">
  <p class="info-text"><strong>Welcome to petermellett.co.uk</strong></p>
  <p class="info-text">This site is designed as both a portfolio and a place for me to keep odd code snippets and troubleshooting steps for future reference. Feel free to contact me using the contact link below or at the footer of the page.</p>
  <p class="links"><%=raw info_links %></p>
</div>