<div class="info well">
  <p class="info-text"><strong><%= Settings.about.welcome %></strong></p>
  <p class="info-text"><%= Settings.about.mission %></p>
  <p class="links"><%=raw info_links %></p>
</div>