<div class="info">
<%= render :partial => 'shared/search' %>
<p>Welcome to petedev, this site is designed as both a portfolio and a place for me to keep odd code snippets and troubleshooting steps for future reference. Feel free to contact me using the contact link at the footer of each page.</p>
<%= image_tag avatar("youremail@wherever.com"), { :class => 'avatar' } %>
<%= render :partial => 'shared/created_month' %>
</div>