<div class="tweet well">
  <div class="speech-bubble">
    <p class="tweet-text"><span class="quotes">&quot;</span><%= latest_tweet(Settings.twitter.name) %><span class="quotes">&quot;</span></p>
  </div>
  <div class="tweet-user">
    <%= image_tag 'twitter.png', :size => "30x30" %> Follow <%= link_to Settings.twitter.name, "https://twitter.com/#{Settings.twitter.name}" %> on Twitter
  </div>
</div>