<h1>About...</h1>
<div class="content">
<h2>The Site</h2>
<p>This site is intended as a place for me to talk about the process of learning Ruby on Rails. The application is self-built after using the <%= link_to "Agile Web Developement with Rails", "http://www.pragprog.com" %> and <%= link_to "Railstutorial.org", "http://www.railstutorial.org" %> tutorials to learn the basics. Nothing quite helps learning like starting a simple project from scratch.</p>
<p>(Site Tech Specs here.)</p>
<h2>Me</h2>
<p>I am pete! (bio here)</p>
</div>