<h1>Messages</h1>
<table class="contact">
  <tr>
    <th>Subject</th>
    <th>Content</th>
    <th>Source IP</th>
  </tr>
  <% if @messages.nil? %>
    <tr>
      <td>No messages</td>
    </tr>
  <% else %>
    <% @messages.each do |message| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= message.source_ip %></td>
      </tr>
    <% end %>
  <% end %>
</table>
