defaults: &defaults
  about:
    welcome: Welcome- Changeme in config/application.yml
    mission: Mission- Changeme in config/application.yml
  contact:
    email: changeme@nowhere.com
    full_name: Fred Bloggs
  twitter:
    name: Change me in config/application.yml
  linkedin:
    name: Change me in config/application.yml
  mailer:
    from: changeme-from@nowhere.com
    domain: nowhere.com

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults