<html>
<head>
</head>
<body>
<div class="email_body">
  <h2>Message from yoursite</h2>

  <div class="email_header">
    <div class="subject">
      <h3>Subject</h3>
      <p><%= @subject.html_safe %></p>
    </div>
    <div class="source_ip">
      <h3>Source IP</h3>
      <p><%= @ip %></p>
    </div>
    <div class="message">
      <h3>Message</h3>
      <p><%= @message.html_safe %></p>
    </div>
  </div>
</div>
</body>
</html>