<ul>
  <li><%= link_to "New Article", new_dashboard_article_path %></li>
  <li><%= link_to "New Project", new_dashboard_project_path %></li>
  <li><%= link_to "New Page", new_dashboard_page_path %></li>
</ul>

