---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/wadtech/events/public?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1428081665'
      Last-Modified:
      - Fri, 03 Apr 2015 09:21:04 GMT
      Etag:
      - W/"56303ce2a675d2d86b70663e819ae892"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1141692/events/public?per_page=10&page=2>; rel="next",
        <https://api.github.com/user/1141692/events/public?per_page=10&page=30>; rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":"2699351016","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":622389851,"size":5,"distinct_size":2,"ref":"refs/heads/gh-activity","head":"60e2573b342bab43f810558a091791cbf9ecc003","before":"54b77c34599939a95829c929c41c195b87e0525a","commits":[{"sha":"4523504a6292b2a91f3389ae0ad3dcf0cc837def","author":{"email":"peter@mymedialab.co.uk","name":"Peter
        Mellett"},"message":"don''t need to auto require this","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/4523504a6292b2a91f3389ae0ad3dcf0cc837def"},{"sha":"2f0c5cac400ccdee00f5f53acb4d45ce739d05d1","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"stop spring from doubling the watch task for whatever
        reason it does that","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/2f0c5cac400ccdee00f5f53acb4d45ce739d05d1"},{"sha":"4c15d0c13aad04e63afd73344746a12111e84069","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"missing keys added to template","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/4c15d0c13aad04e63afd73344746a12111e84069"},{"sha":"615ad28a6d1da6a44118671846e9eb18ecfb174c","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"github activity stream","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/615ad28a6d1da6a44118671846e9eb18ecfb174c"},{"sha":"60e2573b342bab43f810558a091791cbf9ecc003","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"Merge branch ''develop'' into gh-activity\n\nConflicts:\n\tGemfile\n\tconfig/application.yml.template","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/60e2573b342bab43f810558a091791cbf9ecc003"}]},"public":true,"created_at":"2015-04-03T16:21:04Z"},{"id":"2698864510","type":"CreateEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33361451,"name":"wadtech/resq","url":"https://api.github.com/repos/wadtech/resq"},"payload":{"ref":"master","ref_type":"branch","master_branch":"master","description":"Goworker/Resque
        thing for playing.","pusher_type":"user"},"public":true,"created_at":"2015-04-03T12:03:14Z"},{"id":"2698864253","type":"CreateEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33361451,"name":"wadtech/resq","url":"https://api.github.com/repos/wadtech/resq"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"Goworker/Resque
        thing for playing.","pusher_type":"user"},"public":true,"created_at":"2015-04-03T12:03:04Z"},{"id":"2696176497","type":"WatchEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33275357,"name":"chrislabarge/typing-calculator","url":"https://api.github.com/repos/chrislabarge/typing-calculator"},"payload":{"action":"started"},"public":true,"created_at":"2015-04-02T12:23:23Z"},{"id":"2694721183","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":620531859,"size":1,"distinct_size":1,"ref":"refs/heads/gh-activity","head":"54b77c34599939a95829c929c41c195b87[...]
