---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/wadtech/events/public?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1432931000'
      Last-Modified:
      - Fri, 29 May 2015 12:38:25 GMT
      Etag:
      - W/"8c425bcab899fe75ee69e79289ece333"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1141692/events/public?per_page=10&page=2>; rel="next",
        <https://api.github.com/user/1141692/events/public?per_page=10&page=30>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"2847907455","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":679413771,"size":3,"distinct_size":2,"ref":"refs/heads/master","head":"38283282d5e4139e1ecb9f5c64acccf46ecf0387","before":"37c620b523ac26eacd3e0f2302233bb37732458d","commits":[{"sha":"77bbeeb3a286b9fd5eef2d64ee14dc799042f65b","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"more deployment tweaks","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/77bbeeb3a286b9fd5eef2d64ee14dc799042f65b"},{"sha":"263ecb0ca3ce7c16bfa0d53978d8d489853c1b6c","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"switching to heroku","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/263ecb0ca3ce7c16bfa0d53978d8d489853c1b6c"},{"sha":"38283282d5e4139e1ecb9f5c64acccf46ecf0387","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"Merge branch ''develop''","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/38283282d5e4139e1ecb9f5c64acccf46ecf0387"}]},"public":true,"created_at":"2015-05-29T19:38:25Z"},{"id":"2847906382","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":679413410,"size":1,"distinct_size":1,"ref":"refs/heads/develop","head":"263ecb0ca3ce7c16bfa0d53978d8d489853c1b6c","before":"adfa73847c53dc79449bff68[...]
