---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1427921762'
      Etag:
      - W/"4ed5e46737354f51096d2df06c065bed"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":28201944,"name":"contribulator","full_name":"andrew/contribulator","owner":{"login":"andrew","id":1060,"avatar_url":"https://avatars.githubusercontent.com/u/1060?v=3","gravatar_id":"","url":"https://api.github.com/users/andrew","html_url":"https://github.com/andrew","followers_url":"https://api.github.com/users/andrew/followers","following_url":"https://api.github.com/users/andrew/following{/other_user}","gists_url":"https://api.github.com/users/andrew/gists{/gist_id}","starred_url":"https://api.github.com/users/andrew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andrew/subscriptions","organizations_url":"https://api.github.com/users/andrew/orgs","repos_url":"https://api.github.com/users/andrew/repos","events_url":"https://api.github.com/users/andrew/events{/privacy}","received_events_url":"https://api.github.com/users/andrew/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/andrew/contribulator","description":":+1:
        Find open source project that are friendly and welcoming","fork":false,"url":"https://api.github.com/repos/andrew/contribulator","forks_url":"https://api.github.com/repos/andrew/contribulator/forks","keys_url":"https://api.github.com/repos/andrew/contribulator/keys{/key_id}","collaborators_url":"https://api.github.com/repos/andrew/contribulator/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/andrew/contribulator/teams","hooks_url":"https://api.github.com/repos/andrew/contribulator/hooks","issue_events_url":"https://api.github.com/repos/andrew/contribulator/issues/events{/number}","events_url":"https://api.github.com/repos/andrew/contribulator/events","assignees_url":"https://api.github.com/repos/andrew/contribulator/assignees{/user}","branches_url":"https://api.github.com/repos/andrew/contribulator/branches{/branch}","tags_url":"https://api.github.com/repos/andrew/contribulator/tags","blobs_url":"https://api.github.com/repos/andrew/contribulator/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/andrew/contribulator/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/andrew/contribulator/git/refs{/sha}","trees_url":"https://api.github.com/repos/andrew/contribulator/git/trees{/sha}","statuses_url":"https://api.github.com/repos/andrew/contribulator/statuses/{sha}","languages_url":"https://api.github.com/repos/andrew/contribulator/languages","stargazers_url":"https://api.github.com/repos/andrew/contribulator/stargazers","contributors_url":"https://api.github.com/repos/andrew/contribulator/contributors","subscribers_url":"https://api.github.com/repos/andrew/contribulator/subscribers","subscription_url":"https://api.github.com/repos/andrew/contribulator/subscription","commits_url":"https://api.github.com/repos/andrew/contribulator/commits{/sha}","git_commits_url":"https://api.github.com/repos/andrew/contribulator/git/commits{/sha}","comments_url":"https://api.github.com/repos/andrew/contribulator/comments{/number}","issue_comment_url":"https://api.github.com/repos/andrew/contribulator/issues/comments{/number}","contents_url":"https://api.github.com/repos/andrew/contribulator/contents/{+path}","compare_url":"https://api.github.com/repos/andrew/contribulator/compare/{base}...{head}","merges_url":"https://api.github.com/repos/andrew/contribulator/merges","archive_url":"https://api.github.com/repos/andrew/contribulator/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/andrew/contribulator/downloads","issues_url":"https://api.github.com/repos/andrew/contribulator/issues{/number}","pulls_url":"https://api.github.com/repos/andrew/contribulator/pulls{/number}","milestones_url":"https://api.github.com/repos/andrew/contribulator/milestones{/number}","notifications_url":"https://api.github.com/repos/andrew/contribulator/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/andrew/contribulator/labels{/name}","releases_url":"https://api.github.com/repos/andrew/contribulator/releases{/id}","created_at":"2014-12-18T21:15:50Z","updated_at":"2015-03-30T21:35:24Z","pushed_at":"2015-03-30T21:35:24Z","git_url":"git://github.com/andrew/contribulator.git","ssh_url":"git@github.com:andrew/contribulator.git","clone_url":"https://github.com/andrew/contribulator.git","svn_url":"https://github.com/andrew/contribulator","homepage":"https://contribulator.herokuapp.com/","size":1118,"stargazers_count":28,"watchers_count":28,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":11,"mirror_url":null,"open_issues_count":13,"forks":11,"open_issues":13,"watchers":28,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":14634650,"name":"24pullrequests","full_name":"wadtech/24pullrequests","owner":{"login":"wadtech","id":1141692,"avatar_url":"https://avatars.githubusercontent.com/u/1141692?v=3","gravatar_id":"","url":"https://api.github.com/users/wadtech","html_url":"https://github.com/wadtech","followers_url":"https://api.github.com/users/wadtech/followers","following_url":"https://api.github.com/users/wadtech/following{/other_user}","gists_url":"https://api.github.com/users/wadtech/gists{/gist_id}[...]
- request:
    method: get
    uri: https://api.github.com/users/wadtech/events/public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1427921762'
      Last-Modified:
      - Wed, 01 Apr 2015 12:55:59 GMT
      Etag:
      - W/"6863fe944169f70660bb74a5b4753e40"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1141692/events/public?page=2>; rel="next", <https://api.github.com/user/1141692/events/public?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3siaWQiOiIyNjk0Mzc1NDY2IiwidHlwZSI6IlB1c2hFdmVudCIsImFjdG9y
        Ijp7ImlkIjoxMTQxNjkyLCJsb2[...]
