---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1428081665'
      Etag:
      - W/"7ec57a3a7acb95cfb32c6604985575ef"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":28201944,"name":"contribulator","full_name":"andrew/contribulator","owner":{"login":"andrew","id":1060,"avatar_url":"https://avatars.githubusercontent.com/u/1060?v=3","gravatar_id":"","url":"https://api.github.com/users/andrew","html_url":"https://github.com/andrew","followers_url":"https://api.github.com/users/andrew/followers","following_url":"https://api.github.com/users/andrew/following{/other_user}","gists_url":"https://api.github.com/users/andrew/gists{/gist_id}","starred_url":"https://api.github.com/users/andrew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andrew/subscriptions","organizations_url":"https://api.github.com/users/andrew/orgs","repos_url":"https://api.github.com/users/andrew/repos","events_url":"https://api.github.com/users/andrew/events{/privacy}","received_events_url":"https://api.github.com/users/andrew/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/andrew/contribulator","description":":+1:
        Find open source project that are friendly and welcoming","fork":false,"url":"https://api.github.com/repos/andrew/contribulator","forks_url":"https://api.github.com/repos/andrew/contribulator/forks","keys_url":"https://api.github.com/repos/andrew/contribulator/keys{/key_id}","collaborators_url":"https://api.github.com/repos/andrew/contribulator/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/andrew/contribulator/teams","hooks_url":"https://api.github.com/repos/andrew/contribulator/hooks","issue_events_url":"https://api.github.com/repos/andrew/contribulator/issues/events{/number}","events_url":"https://api.github.com/repos/andrew/contribulator/events","assignees_url":"https://api.github.com/repos/andrew/contribulator/assignees{/user}","branches_url":"https://api.github.com/repos/andrew/contribulator/branches{/branch}","tags_url":"https://api.github.com/repos/andrew/contribulator/tags","blobs_url":"https://api.github.com/repos/andrew/contribulator/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/andrew/contribulator/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/andrew/contribulator/git/refs{/sha}","trees_url":"https://api.github.com/repos/andrew/contribulator/git/trees{/sha}","statuses_url":"https://api.github.com/repos/andrew/contribulator/statuses/{sha}","languages_url":"https://api.github.com/repos/andrew/contribulator/languages","stargazers_url":"https://api.github.com/repos/andrew/contribulator/stargazers","contributors_url":"https://api.github.com/repos/andrew/contribulator/contributors","subscribers_url":"https://api.github.com/repos/andrew/contribulator/subscribers","subscription_url":"https://api.github.com/repos/andrew/contribulator/subscription","commits_url":"https://api.github.com/repos/andrew/contribulator/commits{/sha}","git_commits_url":"https://api.github.com/repos/andrew/contribulator/git/commits{/sha}","comments_url":"https://api.github.com/repos/andrew/contribulator/comments{/number}","issue_comment_url":"https://api.github.com/repos/andrew/contribulator/issues/comments{/number}","contents_url":"https://api.github.com/repos/andrew/contribulator/contents/{+path}","compare_url":"https://api.github.com/repos/andrew/contribulator/compare/{base}...{head}","merges_url":"https://api.github.com/repos/andrew/contribulator/merges","archive_url":"https://api.github.com/repos/andrew/contribulator/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/andrew/contribulator/downloads","issues_url":"https://api.github.com/repos/andrew/contribulator/issues{/number}","pulls_url":"https://api.github.com/repos/andrew/contribulator/pulls{/number}","milestones_url":"https://api.github.com/repos/andrew/contribulator/milestones{/number}","notifications_url":"https://api.github.com/repos/andrew/contribulator/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/andrew/contribulator/labels{/name}","releases_url":"https://api.github.com/repos/andrew/contribulator/releases{/id}","created_at":"2014-12-18T21:15:50Z","updated_at":"2015-04-02T12:55:34Z","pushed_at":"2015-04-02T12:55:33Z","git_url":"git://github.com/andrew/contribulator.git","ssh_url":"git@github.com:andrew/contribulator.git","clone_url":"https://github.com/andrew/contribulator.git","svn_url":"https://github.com/andrew/contribulator","homepage":"https://contribulator.herokuapp.com/","size":1128,"stargazers_count":29,"watchers_count":29,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":11,"mirror_url":null,"open_issues_count":13,"forks":11,"open_issues":13,"watchers":29,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":14634650,"name":"24pullrequests","full_name":"wadtech/24pullrequests","owner":{"login":"wadtech","id":1141692,"avatar_url":"https://avatars.githubusercontent.com/u/1141692?v=3","gravatar_id":"","url":"https://api.github.com/users/wadtech","html_url":"https://github.com/wadtech","followers_url":"https://api.github.com/users/wadtech/followers","following_url":"https://api.github.com/users/wadtech/following{/other_user}","gists_url":"https://api.github.com/users/wadtech/gists{/gist_id}[...]
- request:
    method: get
    uri: https://api.github.com/users/wadtech/events/public?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <API TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1428081665'
      Last-Modified:
      - Fri, 03 Apr 2015 09:21:04 GMT
      Etag:
      - W/"56303ce2a675d2d86b70663e819ae892"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1141692/events/public?per_page=10&page=2>; rel="next",
        <https://api.github.com/user/1141692/events/public?per_page=10&page=30>; rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":"2699351016","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":622389851,"size":5,"distinct_size":2,"ref":"refs/heads/gh-activity","head":"60e2573b342bab43f810558a091791cbf9ecc003","before":"54b77c34599939a95829c929c41c195b87e0525a","commits":[{"sha":"4523504a6292b2a91f3389ae0ad3dcf0cc837def","author":{"email":"peter@mymedialab.co.uk","name":"Peter
        Mellett"},"message":"don''t need to auto require this","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/4523504a6292b2a91f3389ae0ad3dcf0cc837def"},{"sha":"2f0c5cac400ccdee00f5f53acb4d45ce739d05d1","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"stop spring from doubling the watch task for whatever
        reason it does that","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/2f0c5cac400ccdee00f5f53acb4d45ce739d05d1"},{"sha":"4c15d0c13aad04e63afd73344746a12111e84069","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"missing keys added to template","distinct":false,"url":"https://api.github.com/repos/wadtech/homepage/commits/4c15d0c13aad04e63afd73344746a12111e84069"},{"sha":"615ad28a6d1da6a44118671846e9eb18ecfb174c","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"github activity stream","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/615ad28a6d1da6a44118671846e9eb18ecfb174c"},{"sha":"60e2573b342bab43f810558a091791cbf9ecc003","author":{"email":"pjm@petermellett.co.uk","name":"Peter
        Mellett"},"message":"Merge branch ''develop'' into gh-activity\n\nConflicts:\n\tGemfile\n\tconfig/application.yml.template","distinct":true,"url":"https://api.github.com/repos/wadtech/homepage/commits/60e2573b342bab43f810558a091791cbf9ecc003"}]},"public":true,"created_at":"2015-04-03T16:21:04Z"},{"id":"2698864510","type":"CreateEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33361451,"name":"wadtech/resq","url":"https://api.github.com/repos/wadtech/resq"},"payload":{"ref":"master","ref_type":"branch","master_branch":"master","description":"Goworker/Resque
        thing for playing.","pusher_type":"user"},"public":true,"created_at":"2015-04-03T12:03:14Z"},{"id":"2698864253","type":"CreateEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33361451,"name":"wadtech/resq","url":"https://api.github.com/repos/wadtech/resq"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"Goworker/Resque
        thing for playing.","pusher_type":"user"},"public":true,"created_at":"2015-04-03T12:03:04Z"},{"id":"2696176497","type":"WatchEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":33275357,"name":"chrislabarge/typing-calculator","url":"https://api.github.com/repos/chrislabarge/typing-calculator"},"payload":{"action":"started"},"public":true,"created_at":"2015-04-02T12:23:23Z"},{"id":"2694721183","type":"PushEvent","actor":{"id":1141692,"login":"wadtech","gravatar_id":"","url":"https://api.github.com/users/wadtech","avatar_url":"https://avatars.githubusercontent.com/u/1141692?"},"repo":{"id":2955304,"name":"wadtech/homepage","url":"https://api.github.com/repos/wadtech/homepage"},"payload":{"push_id":620531859,"size":1,"distinct_size":1,"ref":"refs/heads/gh-activity","head":"54b77c34599939a95829c929c41c195b87[...]
[...]
