body {
  background-color: $body-bg;
  color: $body-colour;
}

.article {
  background-color: $article-bg;

  header {
    a, a:hover, a:visited {
      color: $article-heading;
    }
  }
}

footer {
  background-color: $footer-bg;
}

a, a:hover, a:visited {
  color: $link-colour;
}

nav li {
  background-color: $nav-button;

  &.active {
    background-color: $nav-button-active;
  }
}

.alert {
  background-color: #FFFF00;
}

.alert-success {
  background-color: #578F27;
}
.alert-error {
  background-color: #83202C;
}

code {
  background-color: #fff;
}

div.highlight {
  background-color: #fff;
}
