
.info {
 font-size: 0.9em;

  .info-text {
    margin: 0 0 1px 0;
    color: #ddd !important;
  }
  padding: 10px;

  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
  strong {
    color: #fff !important;
  }
  .links {
    text-align: center;
    padding: 5px;
    font-size: 1em;
    color:#ddd !important;

    a {
      color: #FFF !important;
    }
  }
}

.header {
  background-color: $footer-bg;
  @include header-bg;
  @include header-links;

  h1, h2, h3, h4, h5, h6 {
    a {
      text-decoration: none;
      color: #ddd;

      &:hover {
        text-decoration: none;
        color: #aaa;
      }
      &:active {
        text-decoration: none;
        color: #aaa;
      }
      &:visited {
        color: #ddd;
      }
    }
  }
}
