$html-bg       : #F7F7F7;
$bg-colour     : #F58711;
$content-bg    : #F5F2F0;
$Warm-Grey     : #F7F6F5;
$Cool-Grey     : #333333;
$chrome-orange : #ba4110;
$footer-bg     : darken($html-bg, 70);
$header-bg     : darken($html-bg, 70);
$footer-text   : lighten($Cool-Grey, 50);
$footer-links  : lighten($Cool-Grey, 60);
$baseLineHeight: 1.25;
$baseFontSize  : 1em;

/* Unordered List Hanging Point Fix */
ul, ol {
  padding: 0;
  margin: 0 0 10px 0;
}

/* Flash Notices */
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
.alert {
  padding: 4px;
  margin-bottom: 1em;

  a {
    right: 4px !important;
  }
}

/* Rails form validation stuff */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;

  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 1.2em;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }

    ul li {
      font-size: 1.2em;
      list-style: square;
    }
  }
}
