/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
Modified by: Peter Mellett
*/

.paginator {
  line-height:2;
  font-size: 0.8em;
  background-color:#3e3e3e;
  color: #fff;

  a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    background-color:#3e3e3e;
    text-decoration: none; /* no underline */
    color: #fff;

    &:hover {
      background-color:#ec5210;
      color: #fff;
    }
    &:active {
      background-color:#ec5210;
      color: #fff;
    }
  }
  .current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
      font-weight: bold;
      background-color: #313131;
      color: #868686;
    }
  .disabled {
      padding: 2px 5px 2px 5px;
      margin: 2px;
      background-color:#3e3e3e;
      color: #868686;
  }
}
