
.project_title {
  margin:20px;
  text-align:center;
  text-shadow: 2px 2px 2px #b0b0b0;
  filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
}

.project_body {
  margin-top:5px;
  padding:2px;
}

.project_title {
  margin-top:10px;
  margin-bottom:20px;
  text-align:center;
}

.project_image_wrapper {
  text-align:center;
  margin-top:30px;
  margin-bottom:10px;
}
.project_image {
  margin:5px;
}
.project_body {
  margin-top:5px;
  padding:2px;
}

.highlight-div {
  display:none;
  margin-top:5px;
  border:2px solid #31C2EB;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px #000;
  box-shadow: 2px 2px 2px 0px #000;
}

.highlight-fields {
  border: 1px solid #ccc;
  padding: 10px;
}

.highlight-image {
  text-align:center;
  margin:5px;
}

.project-preview {
  border:1px solid #ddd;
  margin:10px 0px 10px 0px;
  padding:10px;
  background:white;
}
