
$body-bg: rgba(44, 62, 80,1.0);
$body-colour: rgba(100, 100, 100, 1.0);

$article-bg: rgba(189, 195, 199,1.0);
$article-heading: darken($body-colour, 20);

$link-colour: rgba(230, 126, 34,1.0);

$nav-button: rgba(52, 73, 94,1.0);
$nav-button-active: lighten($nav-button, 15);

$footer-bg: rgba(52, 73, 94,1.0);
