/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 ^= require bootstrap_and_overrides
*/

$html-bg   : #555555;
$bg-colour : #F58711;
$content-bg: #F5F2F0;

$Ubuntu-Orange: #DD4814;
$Warm-Grey    : #F7F6F5;
$Cool-Grey    : #333333;

html, body {
  background-color: $html-bg;
  background-image:url('bg.png');
  background-repeat:repeat;
  font-family: Ubuntu, Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-color: $Cool-Grey;
}

#main {
}

.main_content {
  padding: 10px;
  background-color: $content-bg;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    10px 10px 10px rgba(50, 50, 50, 0.55);
  box-shadow:         10px 10px 10px rgba(50, 50, 50, 0.55);
}


.info {
  font-size:10px;
  padding: 10px;
  background-color: $content-bg;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    10px 10px 10px rgba(50, 50, 50, 0.55);
  box-shadow:         10px 10px 10px rgba(50, 50, 50, 0.55);

  .info_avatar {
    margin: 0 auto;
    text-align:center;
  }
}


#footer {
  padding: 1em;
  margin-top:10px;
  background-color: $content-bg;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    10px 10px 10px rgba(50, 50, 50, 0.55);
  box-shadow:         10px 10px 10px rgba(50, 50, 50, 0.55);
  overflow: hidden;
}
#header {
}
a img {
  border: none;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

.notice {
  padding: 4px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

.alert {
  padding: 4px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

pre {
  background-color: #F3F3F3;
  border: solid 1px #CCC;
  padding: 5px 10px;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  margin:10px;
}

.avatar {
  display:block;
  margin-left:auto;
  margin-right:auto;
}


$link-vis : #ED9242;
$link : #F58711;

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: $link;
  &:visited {
    color: $link-vis; }
  &:hover {
    color: $link;
    } 
  }

div {
  &.field, &.actions {
    margin-bottom: 10px; } 

    #copyright {
      float: left;
      display: inline;
    }
    #aboutlinks {
      float: right;
      display: inline;
      font-size:larger;
    }
    #logo {
      float: left;
      padding: 5px;
    }
  }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}
