$codePadding: 5px;

.highlighttable {
  width: 100%;
  display:block;

  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  td.linenos {
    text-align: right;

    div.linenodiv {
      width: 2em;

      pre {
        background-color: rgba(0,0,0,0.1);
        padding: $codePadding;
      }
    }
  }

  td.code {
    width:100%;

    pre {
      padding: $codePadding;
    }
  }
}
