$codePadding: 5px;

/* fenced code blocks are in a table. */
table.highlighttable {
  width: 100%;
  display:block;

  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  td.linenos {
    text-align: right;

    div.linenodiv {
      width: 2em;

      pre {
        background-color: rgba(0,0,0,0.1);
        padding: $codePadding;
      }
    }
  }

  td.code {
    width:100%;

    pre {
      padding: $codePadding;
    }
  }
}

/* Inline code is <p><code>blahblahblah</code> rest of paragraph</p> */
p {
  >code {
    white-space: normal;
  }
}
