$codePadding: 5px;

/* fenced code blocks are inline. */
div.highlight {
  width: 100%;

  >pre {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    word-wrap: normal;
    white-space: pre;
    span.lineno {
      color: rgba(0,0,0,0.3);

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

/* Inline code is <p><code>blahblahblah</code> rest of paragraph</p> */
p {
  >code {
    white-space: normal;
  }
}

pre {
  font-size: 1em;
}
