/* The asset pipeline is a pain, this should live somewhere else but no shared variables :( */
@media (max-width: 767px) {
  body {
    padding: 0px;
    .alert {
      margin-bottom: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
    }
    #main {
      .main_content {
        padding:1.5em;
      }
    }
    .well {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;

      margin-bottom:0px;
    }
    #header {
      background-color: $header-bg ;
      #logo {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    .author {
      float:none;
      padding:5px;
      margin:1em 0em 1em 0em;
      p {
        width:100%;
        margin:auto;
        text-align: center;
      }
      img {
        display:none;
      }
    }
    .spotlight {
      color:#ddd !important;
      background-color: $header-bg  !important;
      strong a {
       color: #FFF !important;
      }
    }
    .tweet.width-85 {
      width: 80%;
    }
  }
}