// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// needed: latest_articles article_title article_body published_time author
.latest_articles {

}
.display_article {
    padding:10px;
}
.article_title {
  display:inline;

}
.title_span {
  padding:5px;	
  padding-top:10px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right:none;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}
.article_body {
  padding: 5px;
  border-left: 1px solid #ccc;
}
.published_time {
  display:inline;  	
}
.author {
  display: inline;
}

.publish_info {
  border: 1px solid #ccc;
  border-top: none;
  border-right:none;
  -moz-border-bottomr-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  width: 20%;
  font-size: smaller;
}