// needed: latest_articles article_title article_body published_time author
.display_article {
  margin-bottom:2em;
  .article_title {
    display:inline;
  }

  .published_time {
    display:inline;   
  }

  .article_body {
    margin-top:10px;
    margin-bottom:10px;
    clear:left;

    img {
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.display_project {
  img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}


.spotlight {
  text-align:center;
}