<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Start Header -->
<div id="header">
  <h1>Pete's Site</h1>
  <hr />
</div>
<!-- End Header -->
<%= yield %>
<!-- Start Footer -->
<div id="footer">
<hr />
<p id="copyright">Copyright Peter Mellett 2011</p>
</div>
<!-- End Header -->
</body>
</html>
